In [1]:
import pandas as pd

In [12]:
company=pd.read_csv('Fortune 500 Companies US.csv',encoding_errors='ignore')
company.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"

In [13]:
company.shape

(500, 10)

In [16]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 500 non-null    int64
 1   Company Name         500 non-null    object
 2   Number of Employees  500 non-null    object
 3   Previous Rank        492 non-null    float64
 4   Revenues             500 non-null    object
 5   Revenue Change       500 non-null    object
 6   Profits              500 non-null    object
 7   Profit Change        500 non-null    object
 8   Assets               500 non-null    object
 9   Market Value         500 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 39.2+ KB

In [17]:
#group by(creating groups in existing data)

In [20]:
companies=company.groupby('Number of Employees')
companies

In [21]:
len(company)

500

In [27]:
company_name=company.groupby('Company Name')

In [28]:
company_name.size().sort_values(ascending=False)

Company Name
3M                        1
A-Mark Precious Metals    1
ABM Industries            1
ADP                       1
AECOM                     1
                         ..
Yum China Holdings        1
Zimmer Biomet Holdings    1
eBay                      1
iHeartMedia               1
salesforce.com            1
Length: 497, dtype: int64

In [30]:
#occurs at first position
company_name.first()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,"91,584",93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,"83,000",426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,"57,000",248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,"87,000",156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,"18,500",431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,"12,600",300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,"18,700",414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,"25,000",386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [31]:
company_name.last()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,"91,584",93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,"83,000",426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,"57,000",248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,"87,000",156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,"18,500",431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,"12,600",300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,"18,700",414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,"25,000",386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [33]:
# returns dict
company_name.groups

{'3M': [93], 'A-Mark Precious Metals': [394], 'ABM Industries': [499], 'ADP': [239], 'AECOM': [160], 'AES': [193], 'AGCO': [369], 'AIG': [54], 'AK Steel Holding': [440], 'AT&T': [8], 'AbbVie': [110], 'Abbott Laboratories': [134], 'Activision Blizzard': [405], 'Adobe Systems': [442], 'Advance Auto Parts': [291], 'Aetna': [42], 'Aflac': [125], 'Air Products & Chemicals': [293], 'Airgas': [488], 'Alaska Air Group': [437], 'Albertsons Cos.': [48], 'Alcoa': [227, 299], 'Alleghany': [427], 'Alliance Data Systems': [377], 'Allstate': [83], 'Ally Financial': [285], 'Alphabet': [26], 'Altria Group': [147], 'AmTrust Financial Services': [474], 'Amazon.com': [11], 'Ameren': [430], 'American Airlines Group': [66], 'American Electric Power': [166], 'American Express': [85], 'American Family Insurance Group': [314], 'American Financial Group': [410], 'American Tower': [448], 'Ameriprise Financial': [238], 'AmerisourceBergen': [10], 'Amgen': [122], 'Amphenol': [423], 'Anadarko Petroleum': [343], 'Anixter International': [358], 'Anthem': [28], 'Apache': [487], 'Apple': [2], 'Applied Materials': [264], 'Aramark': [191], 'Archer Daniels Midland': [44], 'Arrow Electronics': [117], 'Arthur J. Gallagher': [461], 'Asbury Automotive Group': [409], 'Ascena Retail Group': [383], 'Assurant': [360], 'Auto-Owners Insurance': [397], 'AutoNation': [128], 'AutoZone': [269], 'Autoliv': [282], 'Avery Dennison': [429], 'Avis Budget Group': [318], 'Avnet': [107, 108], 'Avon Products': [443], 'BB&T Corp.': [244], 'Baker Hughes': [284], 'Ball': [305], 'Bank of America Corp.': [25], 'Bank of New York Mellon Corp.': [176], 'Baxter International': [280], 'Becton Dickinson': [224], 'Bed Bath & Beyond': [232], 'Berkshire Hathaway': [1], 'Berry Global Group': [412], 'Best Buy': [71], 'Big Lots': [494], 'Biogen': [247], 'BlackRock': [254], 'Boeing': [23], 'Booz Allen Hamilton Holding': [480], 'BorgWarner': [304], 'Boston Scientific': [326], 'Bristol-Myers Squibb': [146], 'Builders FirstSource': [420], 'Burlington Stores': [462], 'C.H. Robinson Worldwide': [211], 'CBRE Group': [213], 'CBS': [192], 'CDW': [198], 'CH2M Hill': [493], 'CHS': [92], 'CMS Energy': [418], 'CST Brands': [306], 'CSX': [256], 'CVS Health': [6], 'CalAtlantic Group': [414], 'Calpine': [399], 'Campbell Soup': [338], 'Capital One Financial': [99], 'CarMax': [173], 'Cardinal Health': [14], 'Caseys General Stores': [422], ...}

In [38]:
company.iloc[23,:]

Rank                          24
Company Name              Boeing
Number of Employees     1,50,540
Previous Rank               24.0
Revenues                 $94,571
Revenue Change             -1.6%
Profits                 $4,895.0
Profit Change              -5.4%
Assets                   $89,997
Market Value           $1,07,546
Name: 23, dtype: object

In [41]:
company_name.get_group('Apple').shape

(1, 10)

In [44]:
company.sum()

Rank                                                              125250
Company Name           WalmartBerkshire HathawayAppleExxon MobilMcKes...
Number of Employees    23,00,0003,67,7001,16,00072,70068,0002,30,0002...
Previous Rank                                                   126499.0
Revenues               $4,85,873$2,23,604$2,15,639$2,05,004$1,92,487$...
Revenue Change         0.8%6.1%-7.7%-16.7%6.2%17.7%15.8%9.2%11.6%1.5%...
Profits                $13,643.0$24,074.0$45,687.0$7,840.0$2,258.0$7,...
Profit Change          -7.2%0.0%-14.4%-51.5%53.0%20.7%1.5%-2.7%-2.8%-...
Assets                 $1,98,825$6,20,854$3,21,686$3,30,314$56,563$1,...
Market Value           $2,18,619$4,11,035$7,53,718$3,40,056$31,439$1,...
dtype: object

In [55]:
rank=company.groupby('Previous Rank')
rank
# rank.mean()

In [61]:
# company['Revenues'].mean()
# sectors['Revenues'].mean().sort_values(ascending=False)